In [16]:
using Pkg
Pkg.add("StatsBase")
Pkg.add("ROCAnalysis")

 Resolving package versions...
  Updating `C:\Users\ASTHA RAI-1804\.julia\environments\v1.0\Project.toml`
 [no changes]
  Updating `C:\Users\ASTHA RAI-1804\.julia\environments\v1.0\Manifest.toml`
 [no changes]
 Resolving package versions...
  Updating `C:\Users\ASTHA RAI-1804\.julia\environments\v1.0\Project.toml`
 [no changes]
  Updating `C:\Users\ASTHA RAI-1804\.julia\environments\v1.0\Manifest.toml`
 [no changes]

In [17]:
using Pkg
using DataFrames
using CSV
using Plots
using GLM
using StatsBase
using Lathe
using MLBase
using ROCAnalysis

In [3]:
#Enable printing of 1000 columns
ENV["COLOUMNS"]=1000

1000

In [4]:
df=CSV.read("D:\\datasets python\\Churn_Modelling.csv",DataFrame)

10000×14 DataFrame. Omitted printing of 9 columns
│ Row   │ RowNumber │ CustomerId │ Surname     │ CreditScore │ Geography │
│       │ Int64     │ Int64      │ String      │ Int64       │ String    │
├───────┼───────────┼────────────┼─────────────┼─────────────┼───────────┤
│ 1     │ 1         │ 15634602   │ Hargrave    │ 619         │ France    │
│ 2     │ 2         │ 15647311   │ Hill        │ 608         │ Spain     │
│ 3     │ 3         │ 15619304   │ Onio        │ 502         │ France    │
│ 4     │ 4         │ 15701354   │ Boni        │ 699         │ France    │
│ 5     │ 5         │ 15737888   │ Mitchell    │ 850         │ Spain     │
│ 6     │ 6         │ 15574012   │ Chu         │ 645         │ Spain     │
│ 7     │ 7         │ 15592531   │ Bartlett    │ 822         │ France    │
│ 8     │ 8         │ 15656148   │ Obinna      │ 376         │ Germany   │
│ 9     │ 9         │ 15792365   │ He          │ 501         │ France    │
│ 10    │ 10        │ 15592389   │ H?          │ 684         │ France    │
⋮
│ 9990  │ 9990      │ 15605622   │ McMillan    │ 841         │ Spain     │
│ 9991  │ 9991      │ 15798964   │ Nkemakonam  │ 714         │ Germany   │
│ 9992  │ 9992      │ 15769959   │ Ajuluchukwu │ 597         │ France    │
│ 9993  │ 9993      │ 15657105   │ Chukwualuka │ 726         │ Spain     │
│ 9994  │ 9994      │ 15569266   │ Rahman      │ 644         │ France    │
│ 9995  │ 9995      │ 15719294   │ Wood        │ 800         │ France    │
│ 9996  │ 9996      │ 15606229   │ Obijiaku    │ 771         │ France    │
│ 9997  │ 9997      │ 15569892   │ Johnstone   │ 516         │ France    │
│ 9998  │ 9998      │ 15584532   │ Liu         │ 709         │ France    │
│ 9999  │ 9999      │ 15682355   │ Sabbatini   │ 772         │ Germany   │
│ 10000 │ 10000     │ 15628319   │ Walker      │ 792         │ France    │

In [5]:
describe(df)

14×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable        │ mean      │ min      │ median    │ max       │
│     │ Symbol          │ Union…    │ Any      │ Union…    │ Any       │
├─────┼─────────────────┼───────────┼──────────┼───────────┼───────────┤
│ 1   │ RowNumber       │ 5000.5    │ 1        │ 5000.5    │ 10000     │
│ 2   │ CustomerId      │ 1.56909e7 │ 15565701 │ 1.56907e7 │ 15815690  │
│ 3   │ Surname         │           │ Abazu    │           │ Zuyeva    │
│ 4   │ CreditScore     │ 650.529   │ 350      │ 652.0     │ 850       │
│ 5   │ Geography       │           │ France   │           │ Spain     │
│ 6   │ Gender          │           │ Female   │           │ Male      │
│ 7   │ Age             │ 38.9218   │ 18       │ 37.0      │ 92        │
│ 8   │ Tenure          │ 5.0128    │ 0        │ 5.0       │ 10        │
│ 9   │ Balance         │ 76485.9   │ 0.0      │ 97198.5   │ 2.50898e5 │
│ 10  │ NumOfProducts   │ 1.5302    │ 1        │ 1.0       │ 4         │
│ 11  │ HasCrCard       │ 0.7055    │ 0        │ 1.0       │ 1         │
│ 12  │ IsActiveMember  │ 0.5151    │ 0        │ 1.0       │ 1         │
│ 13  │ EstimatedSalary │ 1.0009e5  │ 11.58    │ 1.00194e5 │ 1.99992e5 │
│ 14  │ Exited          │ 0.2037    │ 0        │ 0.0       │ 1         │

In [6]:
names(df)

14-element Array{String,1}:
 "RowNumber"
 "CustomerId"
 "Surname"
 "CreditScore"
 "Geography"
 "Gender"
 "Age"
 "Tenure"
 "Balance"
 "NumOfProducts"
 "HasCrCard"
 "IsActiveMember"
 "EstimatedSalary"
 "Exited"

In [7]:
countmap(df.Exited)

Dict{Int64,Int64} with 2 entries:
  0 => 7963
  1 => 2037

In [10]:
Lathe.preprocess.OneHotEncode(df,:Geography)
Lathe.preprocess.OneHotEncode(df,:Gender)
select!(df,Not([:RowNumber,:CustomerId,:Surname,:Geography,:Gender,:Male]))
first(df,5)

5×13 DataFrame. Omitted printing of 7 columns
│ Row │ CreditScore │ Age   │ Tenure │ Balance   │ NumOfProducts │ HasCrCard │
│     │ Int64       │ Int64 │ Int64  │ Float64   │ Int64         │ Int64     │
├─────┼─────────────┼───────┼────────┼───────────┼───────────────┼───────────┤
│ 1   │ 619         │ 42    │ 2      │ 0.0       │ 1             │ 1         │
│ 2   │ 608         │ 41    │ 1      │ 83807.9   │ 1             │ 0         │
│ 3   │ 502         │ 42    │ 8      │ 1.59661e5 │ 3             │ 1         │
│ 4   │ 699         │ 39    │ 1      │ 0.0       │ 2             │ 0         │
│ 5   │ 850         │ 43    │ 2      │ 1.25511e5 │ 1             │ 1         │

In [12]:
using Lathe.preprocess:TrainTestSplit
train,test = TrainTestSplit(df,.75);

In [18]:
fm = @formula(Exited ~ CreditScore + Age + Tenure +Balance +NumOfProducts + HasCrCard + IsActiveMember + EstimatedSalary + Female + France +Spain)
logit = glm(fm, train, Binomial(), ProbitLink())

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Array{Float64,1},Binomial{Float64},ProbitLink},GLM.DensePredChol{Float64,LinearAlgebra.Cholesky{Float64,Array{Float64,2}}}},Array{Float64,2}}

Exited ~ 1 + CreditScore + Age + Tenure + Balance + NumOfProducts + HasCrCard + IsActiveMember + EstimatedSalary + Female + France + Spain

Coefficients:
────────────────────────────────────────────────────────────────────────────────────────
                        Coef.   Std. Error       z  Pr(>|z|)     Lower 95%     Upper 95%
────────────────────────────────────────────────────────────────────────────────────────
(Intercept)      -1.78098      0.166846     -10.67    <1e-25  -2.10799      -1.45396
CreditScore      -0.000468317  0.000183702   -2.55    0.0108  -0.000828367  -0.000108268
Age               0.041428     0.00168256    24.62    <1e-99   0.0381302     0.0447257
Tenure           -0.0103542    0.00611738    -1.69    0.0905  -0.022344      0.0016357
Balance           1.64893e-6   3.33924e-7     4.94    <1e-6    9.94452e-7    2.30341e-6
NumOfProducts    -0.0503715    0.0314148     -1.60    0.1088  -0.111943      0.0112005
HasCrCard         0.000848564  0.0390103      0.02    0.9826  -0.0756101     0.0773073
IsActiveMember   -0.603948     0.036838     -16.39    <1e-59  -0.676149     -0.531746
EstimatedSalary  -1.37734e-8   3.09639e-7    -0.04    0.9645  -6.20654e-7    5.93107e-7
Female            0.315904     0.0356032      8.87    <1e-18   0.246123      0.385685
France           -0.44109      0.0449764     -9.81    <1e-21  -0.529242     -0.352938
Spain            -0.394122     0.052173      -7.55    <1e-13  -0.496379     -0.291865
────────────────────────────────────────────────────────────────────────────────────────

In [ ]:
predicted=prediction()